



.Navbar{
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
}

#Header {
background-image: url("../images/shop1.jpg") ;
}

.active-filter-btn{
    background-color: #BB2D3B !important;
    color: #fff!important;
    border-color: salmon !important;
}
.filter-button-group .btn:hover{
    color: solid black !important;
	background-color: salmon !important;
	border-color: solid black !important;
}

.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.bllog{
	color: solid black !important;
}

footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: salmon!important;
}

ul li{
	color: salmon!important;
	
}